/* Default Styles */

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

/* Header Section */

header {
  background-color: #1c4f6f;
  color: white;
}

.website-header {
  padding: 20px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
}

.website-header img {
  float: left;
  width: 50px;
  height: 50px;
  margin: 0 30px;
}

.website-header h1 {
  margin: auto 0;
}

/* Social Media Icons Section */

.social-icons {
  text-align: right;
  flex-grow: 1;
}

.social-icons i {
  margin: 0 7px;
}

/* Nav Menu Section */
nav {
  background-color: #1c4f6f;
  height: 50px;
  margin-bottom: 20px;
}

nav ul {
  margin: 20px 0 0 0;
}

.navbar-nav li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}

.navbar-nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 800;
}

.navbar-nav li a:hover {
  color: #e08b6c;
}

/* Showcase Banner/Carousel Section */

#showcase-banner {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 15%;
}

#showcase-banner h2 {
  margin: 0;
  padding: 5px;
  color: #fff;
}

#showcase-banner img {
  width: 100%;
  filter: brightness(0.7);
  transition-duration: 500ms;
}

.carousel {
  position: relative;
}

.carousel-text {
  position: absolute;
  word-wrap: normal;
  bottom: 5px;
  z-index: 2;
  color: #fff;
  font-size: 24px;
  font-weight: bolder;
  padding: 0 10px;
  transition-duration: 500ms;
}

.carousel-date {
  display: block;
  text-align: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}

/* Data Content Sections */

.intro-section:hover>img,
.popular-section:hover>img,
.action-section:hover>img,
.about-section>img {
  filter: brightness(0.4);
}

.action-section {
  background-color: #1c4f6f;
  display: flex;
  flex-wrap: wrap;
  padding: 0 17.5%;
  justify-content: space-between;
  color: #fff;
}

.popular-section,
.contact-section,
.intro-section,
.enquiry-section,
.about-section,
.blog-section {
  display: flex;
  flex-wrap: wrap;
  padding: 0 17.5%;
  justify-content: space-between;
}

.contact-section ul {
  list-style-type: none;
}

.blog-content {
  display: flex;
  flex-wrap: wrap;
}

.intro-content,
.popular-content,
.action-content,
  {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: space-between;
}

.intro-content h2,
.popular-content h2,
.action-content h2,
.enquiry-content h2 {
  margin: 10px 0 0 0;
  padding: 0 10px;
}

.intro-content,
.popular-content,
.action-content {
  flex-basis: 52.5%;
}

.page-header-section {
  flex-basis: 100%;
}

/* Aside Section */

aside {
  width: 90%;
  padding: 10px;
  flex-basis: 45%;
  margin: auto 0;
}

p {
  text-align: justify;
}

.aside-content {
  display: flex;
}

.aside-content img {
  width: 100%;
  margin: 10px;
}

.aside-content p {
  font-size: 14px;
  font-weight: bold;
  margin: auto;
}

/* Footer Section */
.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #1c4f6f;
  color: #FFFFFF;
  font-weight: bolder;
}

.footer-item {
  flex: 29.5%;
  margin: 2rem;
}

.footer-item ul {
  list-style-type: none;
  padding-left: 0;
}

.footer-item li {
  padding-top: 0.5rem;
}

.footer-item img {
  width: 100px;
  height: 100px;
  margin: 0 30px;
  padding: 10px;
}

.footer-item a {
  color: #FFFFFF;
  text-decoration: none;
}

.footer-item i {
  font-size: 37px;
  padding: 5px;
}

.footer-item p {
  text-align: start;
  padding: 5px;
  margin: 20px;
}

.footer-copyright {
  flex: 100%;
  padding: 1rem;
  background-color: #A2A7A5;
  color: #FFFFFF;
}

/* Product Page */

.product-section {
  display: flex;
  flex-wrap: wrap;
  padding: 0 17.5%;
  justify-content: space-between;
}

.product-card {
  flex: 1 25%;
}

.product-image img {
  max-width: 100%;
}

.product-info {
  margin-top: auto;
  text-align: center;
}

/* Gallery Page */

.gallery-section {
  display: flex;
  flex-wrap: wrap;
  padding: 0 17.5%;
  justify-content: space-between;
}

.gallery-card {
  flex: 1 25%;
}

.gallery-image img {
  max-width: 100%;
}

.gallery-info {
  margin-top: auto;
  text-align: center;
}

/* Enquiry Form */

.enquiry-content {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 90%;
  padding: 0 17.5%;
}

.button {
  display: block;
  border: 1px solid #1c4f6f;
  color: #1c4f6f;
  font-size: 14px;
  font-weight: bolder;
  background-color: white;
  margin: 20px auto;
  padding: 10px 20px;
}

.buttons:hover {
  color: #fff;
  border: 1px solid #fff;
  background-color: #1c4f6f;
}

/* About Page */

.about-content {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 90%;
  justify-content: space-between;
  padding: 0 17.5%;
}

/* Google Map Section*/
/* Implements Google Map */

.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 600px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 600px;
}